@{
  Layout = "_Layout";
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pierre's Sweet and Savory Treats</h1>
</div>
<div class="container">
        <p>
          @Html.ActionLink("View Flavors", "Index", "Flavors", null, new { @class = "btn btn-primary btn-lg" })
        </p>
        <p>
          @Html.ActionLink("View Treats", "Index", "Treats", null, new { @class = "btn btn-info btn-lg" })
        </p>
</div>